<ion-header>
  <ion-toolbar>
    <ion-title class="title-cont">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-cont">
    <img src="../../assets/logo.png" class="logo" />
  </div>
  <ion-card class="card-details">
    <ion-card-header>
      <ion-card-subtitle class="subtitle"
        >Peliculas en tu mano</ion-card-subtitle
      >
      <ion-card-title class="title"
        >Una prepaga para ver las mejores peliculas en tu mano</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      Sin costo de mantenimiento ni letra chica. Registrate y conocela
    </ion-card-content>
  </ion-card>
  <ion-card class="bg-cont">
    <img src="../../assets/bg.png" class="bg" />
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start" *ngIf="image.length == 0">
        <ion-avatar>
          <img src="../../assets/bg.png" alt="Avatar" />
        </ion-avatar>
      </ion-thumbnail>
      <ion-thumbnail slot="start" *ngIf="image.length > 0">
        <ion-avatar>
          <img [src]="image[0].data" alt="Avatar" />
        </ion-avatar>
      </ion-thumbnail>
      <ion-button
        fill="clear"
        expand="full"
        color="dark"
        (click)="selectImage()"
      >
        <ion-icon slot="start" name="camera"></ion-icon>
        Cambiar avatar
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-card class="card-details">
    <form [formGroup]="form">
      <ion-item color="tertiary">
        <ion-input
          formControlName="user"
          type="text"
          placeholder="Usuario"
        ></ion-input>
      </ion-item>
      <ion-item color="tertiary">
        <ion-input
          #passwordEyeRegister
          [type]="passwordTypeInput"
          formControlName="password"
          placeholder="Contraseña"
        ></ion-input>
        <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
          <ion-icon [name]="iconpassword"></ion-icon>
        </button>
      </ion-item>
      <ion-button expand="block" color="danger" (click)="register()">
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
        ¿No tenés cuenta? Registrate!
      </ion-button>
      <ion-button
        expand="block"
        color="secondary"
        expand="block"
        (click)="login()"
        >Ingresar</ion-button
      >
    </form>
  </ion-card>
</ion-content>
