* {
  font-family: "Poppins", sans-serif;
}
.logo-cont {
  padding-top: 1.5em;
  padding-left: 1em;
  background-color: transparent;
}
.logo {
  background-color: transparent;
}
.bg-cont {
  padding: 0;
  ion-text-area {
    font-size: 10px;
  }
}
.title-cont {
  padding: 1em 0.8em;
  background-color: var(--ion-color-tertiary);
  height: 100%;
  text-align: left;
}

.bg {
  background-color: var(--ion-color-tertiary);
  @supports (mix-blend-mode: overlay) {
    .img-container {
      mix-blend-mode: overlay;
    }
  }
  height: 90%;
  width: 100px;
  object-fit: cover;
  border-radius: 4px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
