<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
    <ion-title class="title-cont">Cartelera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-cont">
    <img src="../../assets/logo.png" class="logo" />
  </div>
  <ion-card class="bg-cont" *ngIf="movies.length == 0">
    <img src="../../assets/bg.png" class="bg" />
  </ion-card>
  <ion-item class="bg-cont" *ngFor="let movie of movies, let i = index">
    <img [src]="movie.poster_path" class="bg" />
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <h2>{{movie.original_title}}</h2>
        </ion-card-title>
        <form class="rating" [formGroup]="formRate">
          <label>
            <input
              type="radio"
              value="2"
              formControlName="rate"
              (click)="rate(i)"
            />
            <span class="icon">★</span>
          </label>
          <label>
            <input
              type="radio"
              value="4"
              formControlName="rate"
              (click)="rate(i)"
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            <input
              type="radio"
              value="6"
              formControlName="rate"
              (click)="rate(i)"
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            <input
              type="radio"
              value="8"
              formControlName="rate"
              (click)="rate(i)"
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            <input
              type="radio"
              value="10"
              formControlName="rate"
              (click)="rate(i)"
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
        </form>
        <ion-card-subtitle>
          <h3>{{movie.overview}}</h3>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
